<section class="container mx-auto">
  <div class="flex justify-between items-center py-5 gap-10">
    <div class="flex gap-4">
      <h1 class="text-4xl font-bold text-white whitespace-nowrap">Alto Jardin</h1>
      <input
        type="text"
        class="bg-secondary rounded-xl px-2 py-3 text-white w-2xl"
        placeholder="Buscar..."
      />
    </div>
    <div class="flex gap-4">
      <a href="" class="bg-secondary text-white text-xl font-semibold px-8 py-4 cursor-pointer rounded-xl "
        >Contacto</a
      >
      <a href="/solicitar-cotizacion" id="button-redirect-quotation" class="bg-button text-white text-xl font-semibold px-8 py-4 cursor-pointer rounded-xl w-fit relative"
        >Solicitar cotizacion
        <span class="quotation-count absolute -top-2 -right-2 bg-red-500 text-white text-sm font-bold rounded-full w-6 h-6 flex items-center justify-center">0</span>
      </a>
    </div>
  </div>
</section>

<script>
  function updateQuotationCount() {
    const quotationItems = JSON.parse(localStorage.getItem('quotationItems') || '[]');
    const countElement = document.querySelector('.quotation-count');
    console.log(quotationItems.length);
    if (countElement) {
      countElement.textContent = quotationItems.length;
    }
  }

  // Initialize count on page load
  document.addEventListener('DOMContentLoaded', updateQuotationCount);

  const buttonRedirectQuotation = document.getElementById('button-redirect-quotation');
  buttonRedirectQuotation?.addEventListener('click', () => {
    const quotationItems = JSON.parse(localStorage.getItem('quotationItems') || '[]');
    if (quotationItems.length > 0) {
      buttonRedirectQuotation.setAttribute('href', `/solicitar-cotizacion?ids=${quotationItems.join(',')}`);
    } else {
      alert('No hay plantas seleccionadas');
    }
  });
</script>
